/*Global style*/
body {
    background-color: #ffffff;
    font-family: "Roboto", sans-serif;
    color: #434455;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}

.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/*Homework-4*/

/*Top-line*/
#activ .link-nav {
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

#activ .link-nav::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*Section-1*/
.hero {
    background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

/*Section-2*/
.met-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}

/*Section-4*/
.text-slate {
    position: relative;
    overflow: hidden;
}

.overlay {
    padding: 40px 32px;
    background-color: #4d5ae5;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.port-item:hover .overlay,
.port-item:focus .overlay {
    transform: translateY(0);
}

.port-item:hover,
.port-item:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

/*Footer*/
.down-line .container {
    display: flex;
    align-items: baseline;
}

.logo-box {
    margin-right: 120px;
}

.down-soc-box .text {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.down-line .container .down-soc-box .text {
    color: #ffffff;
}

.soc-list-down {
    display: flex;
    gap: 16px;
}

.down-list {
    width: 40px;
    height: 40px;
}

.down-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.down-link:hover,
.down-link:focus {
    background-color: #31d0aa;
}

.soc-icon-down {
    fill: #f4f4fd;
}

/*Style-social-link*/
.soc-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}

.soc-list-item {
    width: 40px;
    height: 40px;
}

.soc-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-link:hover,
.soc-link:focus {
    background-color: #404bbf;
}

.soc-icon {
    fill: #f4f4fd;
}

/*Homework3*/

/*Top line*/
.top-line .container {
    display: flex;
    justify-content: space-between;
}

.navigat {
    display: flex;
    align-items: center;
}

.navigat .logo {
    margin-right: 76px;
}

.list-nav {
    display: flex;
    gap: 40px;
}

.link-nav {
    display: block;
    padding: 24px 0;
}

.contakt {
    display: flex;
    gap: 40px;
    align-items: center;
}

.link-addres {
    display: block;
    padding: 24px 0;
}

/*Section-1*/
#head {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Section-2*/
.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.methods {
    padding: 120px 0;
}

.methods-list {
    display: flex;
    gap: 24px;
}

.met-list-item {
    width: calc((100% - 72px) / 4);
}

/*Section-3*/
.team-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.photo {
    width: calc((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.text-team {
    padding: 32px 0;
}

/*Section-4*/
.portfolio {
    padding: 120px 0;
}

.port-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}

.port-item {
    flex-basis: calc((100% - 24px * 2) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.port-text {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

/*Down line*/
.down-line .container .logo {
    display: inline-block;
    margin-bottom: 16px;
}

.down-line .container .text {
    max-width: 264px;
}

/*Homework-2*/

/*Top line*/
.top-line {
    background-color: #ffffff;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.logo {
    color: #4d5ae5;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.logo-top {
    color: #2e2f42;
}

.link-nav {
    color: #2e2f42;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        text-decoration 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-nav:hover,
.link-nav:focus {
    color: #404bbf;
}

.link-nav:active {
    text-decoration: underline;
}

.contakt {
    font-style: normal;
}

.link-addres {
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-addres:hover,
.link-addres:focus {
    color: #404bbf;
}

/*Section-1*/
.top-fon {
    padding: 188px 0;
}

.top-title {
    font-weight: 700;
    font-size: 56px;
    color: #ffffff;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 496px;
    height: 120px;
    margin-bottom: 48px;
}

.top-but {
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    background-color: #4d5ae5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.top-but:hover,
.top-but:focus {
    background-color: #404bbf;
}

/*Global settings titles and captions and Section-2*/
.sec-title {
    text-transform: capitalize;
    color: #2e2f42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 72px;
}

.text-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.text {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*Section-3*/
.team {
    background-color: #f4f4fd;
    padding: 120px 0;
}

.photo {
    background-color: #ffffff;
}

.team .text-title {
    text-align: center;
}

.team .text {
    text-align: center;
}

/*Down line*/
.down-line {
    background-color: #2e2f42;
    padding: 100px 0;
}

.logo-down {
    color: #f4f4fd;
}

.down-line .text {
    color: #f4f4fd;
}